.sideMenu {
  --background: hsla(222.2, 84%, 4.9%, 1);
  --foreground: hsla(210, 40%, 98%, 1);
  --card: hsla(222.2, 84%, 4.9%, 1);
  --card-foreground: hsla(210, 40%, 98%, 1);
  --popover: hsla(222.2, 84%, 4.9%, 1);
  --popover-foreground: hsla(210, 40%, 98%, 1);
  --primary: hsla(217.2, 91.2%, 59.8%, 1);
  --primary-muted: hsla(217.2, 81.2%, 69.8%, 1);
  --primary-foreground: hsla(222.2, 47.4%, 11.2%, 1);
  --secondary: hsla(217.2, 32.6%, 17.5%, 1);
  --secondary-foreground: hsla(210, 40%, 98%, 1);
  --muted: hsla(217.2, 32.6%, 17.5%, 0.75);
  --muted-foreground: hsla(215, 20.2%, 65.1%, 1);
  --accent: hsla(217.2, 32.6%, 17.5%, 1);
  --accent-muted: hsla(217, 24%, 28%, 1);
  --accent-foreground: hsla(210, 40%, 98%, 1);
  --destructive2: hsla(0, 62.8%, 35.6%, 1);
  --destructive-ring2: hsla(0, 60%, 40.6%, 1);
  --destructive-foreground: hsla(210, 40%, 98%, 1);
  --border: hsla(217.2, 32.6%, 17.5%, 1);
  --input: hsla(217.2, 32.6%, 17.5%, 1);
  --ring: hsla(224.3, 76.3%, 48%, 1);
  --ring-muted: hsla(224.3, 50%, 36%, 1);
  --plan: hsla(134, 40%, 22%, 0.9);
  --plan-ring: hsla(134, 40%, 42%, 0.9);

  /* --icons :#6a73ac; */

  top: 0;
  left: 0;
  padding: 0;
  width: 10rem;
  height: 100vh;
  margin-top: 0;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: fixed;
  background-color: var(--muted);
  overflow: auto;
  user-select: none;
  /* transition: ease-in 0.5s translateX(-45%);
  transform: ease-in 0.5s translateX(-45%);
  -webkit-transition: ease-in 1s;
  -webkit-transform:  ease-in 3s;
  animation-delay: 300ms;
  transition-delay: 300ms; */
}

.sideMenu ul {
  padding-top: 5rem;
  padding-left: 0%;
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: ease-in 0.5s translateX(-45%);
}

.sideMenu li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px;
  padding-left: 8%;
  align-items: center;
}
.sideMenu li.home {
  /* margin-top: 2.5rem; */
  /* padding-top: 0; */
  margin-top: 0rem;
}

.sideMenu .links {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  justify-content: space-between;
}

.sideMenu li a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--foreground);
}

.sideMenu li img {
  padding-right: 8px;
}

.sideMenu li:hover {
  padding: 8px;
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--ring-muted);
  /* filter: drop-shadow(0 0 8px var(--ring)); */
  /* backdrop-filter: blur(2px); */
  /* border: 1px solid var(--ring); */
  transition: ease-in 300ms;
  /* transform: ease-in 300ms;
  translate: ease-in 300ms; */
}
.sideMenu :not(.header, .dropdown) li:hover {
  filter: drop-shadow(0 0 8px var(--ring));
}

.sideMenu li.plan {
  margin-bottom: 2.5rem;
}
.sideMenu li.plan:hover {
  padding: 8px;
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--plan);
  filter: drop-shadow(0 0 3px var(--plan-ring));
}

.sideMenu .header {
  display: flex;
  flex-direction: column;
  position: fixed;
  cursor: default;
  border-top-left-radius: 0;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 10rem;
  margin-left: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
  border-bottom: 1px solid var(--accent-muted);
  /* background-color: var(--accent); */
  backdrop-filter: blur(2px);
  transition: 0.3s ease-out;
}

.header li:hover {
  background-color: var(--muted);
}

.header li.titleHead {
  padding: 16px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 3.3rem;
  margin: 0;
  font-size: 10px;
  background-color: var(--muted);
  border-bottom-right-radius: 0;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.header li.titleHead:hover {
  cursor: default;
  padding: 16px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 3.3rem;
  color: var(--foreground);
}

.header li.menu {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 0;
  padding-right: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--muted);
}

.header li.menu:hover {
  color: var(--foreground);
  /* cursor: pointer; */
}

.sideMenu .settings {
  padding: 8px 8px;
}

.sideMenu .settings:hover {
  padding: 8px;
}

.sideMenu ul.dropdown {
  margin-left: 0;
  padding-left: 8px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: var(--accent-muted);
  overflow-x: auto;
  transition: ease-in 0.5s translateX(-45%);
}

.sideMenu .dropdown li {
  white-space: nowrap;
}

.sideMenu .dropdown:hover {
  margin: 0;
  white-space: nowrap;
}

.sideMenu .dropdown li:hover {
  margin: 0;
  white-space: nowrap;
  /* background-color: var(--muted); */
  filter: drop-shadow(0 0 4px var(--ring));
}

.icon {
  block-size: 12px;
  margin-left: auto; /* This will push the icon to the right */
  padding-right: 8px; /* Optional: adjust the padding as needed */
}
.icon_menu {
  block-size: 20px;
  filter: brightness(120.5%);
  padding-left: 40%;
  /* cursor: pointer; */
}
.icon_menus {
  block-size: 20px;
  filter: brightness(120.5%);
  /* z-index: -1; */
  /* margin-top: auto; */
}

.icon_button {
  block-size: 1.25rem;
  /* padding: 0.125rem; */
  padding-top: 0.25rem;
  /* align-self: auto; */
  /* filter: brightness(178%) hue-rotate(0deg); */
  /* z-index: 0; */
  /* margin-top: auto; */
}

.card{
  /* position: relative; */
  background-color: var(--muted);
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 6px;
}
.runner {
  border: 2px solid var(--ring);
  background-color: var(--ring-muted);
  /* filter: brightness(128%) hue-rotate(0deg); */
  color: var(--foreground);
  /* padding: 0.4%;
  padding-bottom: 1px; */
  padding: 4px;
}
.runner_destructive {
  border: 2px solid var(--destructive);
  background-color: var(--destructive-ring);
  /* filter: brightness(128%) hue-rotate(0deg); */
  padding: 4px;
}
.runner_destructive:hover{
  background-color: var(--destructive);
}

.settings_container {
  position: fixed;
  padding: 0;
  margin: 0;
  bottom: 0vh;
  width: 10rem;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: auto;
  font-size: 12px;
  background-color: var(--muted);
  border-top: 1px solid var(--accent-muted);
  backdrop-filter: blur(2px);
  transition: 0.3s ease-out;
}

.settings_container li:hover {
  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}
.settings .links {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  justify-content: space-between;
}

.sideMenu::-webkit-scrollbar {
  width: 4px; /* Initial width of the scrollbar */
  height: 4px;
  transition: width 0.3s; /* Smooth transition for width */
  transition: all 0.5s ease-out;
}

.sideMenu::-webkit-scrollbar:hover {
  width: 8px; /* Width of the scrollbar on hover */
}

.sideMenu::-webkit-scrollbar-track {
  background: var(--primary-muted); /* Background of the scrollbar track */
  border-radius: 12px; /* Optional: round the corners */
  margin-bottom: 8vh;
  margin-top: 20vh;
}

.sideMenu::-webkit-scrollbar-thumb {
  background-color: var(--ring); /* Color of the scrollbar thumb */
  border-radius: 12px; /* Optional: round the corners */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.sideMenu::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary); /* Color of the scrollbar thumb on hover */
}

.sideMenu {
  width: 10rem;
  transition: 0.3s ease-out;
  /* Add other styles */
}
/* Text transition */
.sideMenu span {
  opacity: 1;
  /* white-space: nowrap; */
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.sideMenu.collapsed {
  width: 3.3rem;
  overflow: hidden;
  transition: 0.3s ease-in;
}

.collapsed span {
  opacity: 0;
  transform: translateX(-20px);
}
.links {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-out;
}
.collapsed .links span {
  display: none;
}

.sideMenu.collapsed ul li {
  padding-left: 0.8rem;
  /* transition: width 0.6s ease; */
}

.sideMenu li a span {
  display: inline-block;
}

.sideMenu.collapsed li a span {
  display: none; /*Hide text when collapsed*/
}

.sideMenu.collapsed li img {
  margin-right: 0;
}

.sideMenu ul.dropdown {
  display: block;
}

.sideMenu.collapsed ul.dropdown {
  display: none; /* Hide dropdown content when collapsed */
}

.sideMenu.collapsed li:hover ul.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 3rem; /* Show dropdown floating next to icon */
  width: 7rem;
  background-color: var(--accent-muted);
  z-index: 10;
}

.sideMenu.collapsed li:hover ul.dropdown li {
  padding-left: 1rem;
}

.sideMenu.collapsed .header {
  transition: 0.3s ease-in;
  width: 3.3rem;
}

.sideMenu.collapsed .settings_container {
  width: 3.3rem;
  transition: 0.3s ease-in;
}

.sideMenu.collapsed .menu {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 0rem;
  padding-right: 0rem;
  margin-left: 0;
  /* transition: width 0.6s ease; */
}

.sideMenu.collapsed .titleHead {
  padding: 16px;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 10;
  padding-left: 1rem;
}
.sideMenu.collapsed .titleHead:hover {
  padding: 16px;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 10;
  padding-left: 1rem;
}
.sideMenu.collapsed .icon_menu {
  padding-left: 1rem;
}
.sideMenu.collapsed .icon_menus {
  /* padding-right: 0; */
  padding-left: 0.1rem;
  padding-top: 0.2rem;
}
.sideMenu.collapsed .settings_container .icon_menus {
  padding-right: 0;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
}

.feedbackfield{
  width: 96.5%;
  resize: vertical;
  padding: 10px;
  padding-right: 0;
  border-radius: 12px;
  background-color: black;
  color: var(--accent-foreground);
  font-family: inherit;
  margin: 0;
}
.accordeon{
  cursor: pointer;
  user-select: none;
}

.popover {
  position: absolute;
  left: 50px; /* Adjust this depending on the sidebar width */
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.collapsed .popover {
  display: none; /* Hide dropdown by default when collapsed */
}

.collapsed .icon-container:hover + .popover {
  display: block; /* Show popover when hovering over the icon */
}

.tooltiptext {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.dropdown_feedback{
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.accordeon h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #343557;
  /* margin: 0; */
}
.accordeon h3:hover {
  background-color: #1f2144;
  border-radius: 6px;
  transition: 300ms ease-in;
}

.icon_accordion {
  block-size: 18px;
  margin-left: auto;
  /* position: absolute; */
  /* margin-left: 0.2rem; */
}
.page{
  cursor: default;
  padding: 1rem;
  background-color: var(--muted);
  border-radius: 6px;
  user-select: text;
}



.dropdown {
  padding-left: 1rem;
}

.dropdownBubble {
  position: absolute;
  left: 60px; /* adjust based on sidebar width */
  top: 0;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  border-radius: 8px;
  z-index: 999;
  padding: 0.5rem;
}

.dropdownBubble ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownBubble li {
  margin-bottom: 0.5rem;
}

.dropdownBubble li:last-child {
  margin-bottom: 0;
}

/*  */
.dropdown {
  padding-left: 1rem;
}

.dropdownBubble {
  position: fixed;
  top: 10vh;
  left: 4rem;
  background-color: hsla(240, 21%, 15%, 0.8);
  border: 1px solid #444;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  padding-left: 0;
  margin-left: 0;
  overflow: auto;
  min-width: 150px;
  max-height: 80vh;
  animation: fadeIn 0.5s ease-in-out;
  /* filter: brightness(128%) hue-rotate(0deg); */
}

.dropdownBubble ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* filter: brightness(128%) hue-rotate(0deg); */
}

.dropdownBubble li:nth-child(2){
  margin-top: 2.5rem;
  /* margin-bottom: 0.5rem; */
  /* filter: brightness(128%) hue-rotate(0deg); */
}
.dropdownBubble li {
  /* margin-top: 1.5rem; */
  margin-bottom: 0.5rem;
  /* filter: brightness(128%) hue-rotate(0deg); */
}


.dropdownBubble li:last-child {
  margin-bottom: 0;
}

.dropdownBubble ul h2{
  /* position: sticky; */
  position: fixed;
  /* top: 0; */
  margin: -7px;
  margin-bottom: 0;
  margin-left: 0;
  /* margin: 0; */
  padding: 4px;
  padding-left: 0.75rem;
  border-bottom: 1px solid #868686;
  background-color: hsla(240, 21%, 15%, 1);
  /* background-color: rgb(0, 0, 0); */
  font-size: 1rem;
  max-width: 150px;
  height: auto;
  width: auto;

}

.sideMenu.collapsed .icon_menus_bubble {
  /* padding-right: 0; */
  padding-left: 1.5rem;
  padding-top: 0.2rem;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}