/* easter egg dar um alert quando faltar 7 dias para cair o salario */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);
    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);
    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);
    --primary: hsl(217.2 91.2% 59.8%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);
    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);
    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);
    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);
    --destructive: hsl(0 62.8% 35.5%);
    --destructive-ring: hsl(0, 60%, 30.6%);
    --destructive-foreground: hsl(210 40% 98%);
    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(224.3 76.3% 48%);
    --ring-muted: hsl(224.3, 50%, 48%);

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: var(--background);
    color: var(--foreground);
    margin-top: 0;
}
@media screen {
    
}
@media (min-width:  534px){
    body{
        margin-left: 10rem;
    }
}

body{
    /* padding: 1.25vh; */
    /* padding-left: 20vw; */
    /* border: 1.25px solid var(--primary); */
    margin-top: 0;
    margin-left: 10rem;
    /* height: 94vh; */
    border-radius: 12px;
    transition: 0.3s ease-out;
    
}
body.collapsedBody {
    margin-left: 3.3rem;
    transition: 0.3s ease-in;
}

div{
    background-color: var(--primary-foreground);
    /* border: 2px solid var(--primary); */
    border-radius: 12px;
    padding: 1.25px;
    margin: 0.52%;
    margin-top: 0;
    /* padding-left: 0vw; */
    /* margin-left: 0vw; */
}

div.optional{
    background-color: var(--muted);
    /* border: none; */
    padding: 2%;
    bottom: 2%;
}
div.optional img{
    display: none;
}
a:link{
    cursor: pointer;
    color: var(--primary);
}

button{
    border: 2px solid var(--ring);
    background-color: var(--ring-muted);
    color: var(--foreground);
    padding: 0.6%;
    margin-bottom: 0.8%;
    margin-right: 1.5%;
    border-radius: 12px;
    cursor: pointer;
}
button.destructive{
    border: 2px solid var(--destructive-ring);
    background-color: var(--destructive);
    color: var(--destructive-foreground);
}
button:hover{
    background-color: var(--ring);
}
button.destructive:hover{
    background-color: var(--destructive-ring);
}

div.card{
    /* position: relative; */
    background-color: var(--muted);
    padding: 2%;
    /* border: none; */
}
div.card h3{
    font-size: 18px;
    user-select: none;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 2rem;
}

div.terminal{
    max-height: 70vh;
    overflow: auto;
    background-color: var(--background);
    padding-left: 2vw;
    font-size: 16px;
}


::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    transition: width 0.5s ease-out;
}

::-webkit-scrollbar:hover {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--primary-muted);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--ring);
    border-radius: 12px;
    transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
    width: 8px;
}

input{
    border-radius: 8px;
    padding: 0.3rem;
    margin-bottom: 0.3rem;
}

.styled-item{
    padding: 4px;
    padding-left: 0;
    list-style-type: circle;
}
.styled-item span{
    padding-right: 1rem;
}
.styled-item .label{
    user-select: none;
}

.tabs button{
    margin: 0;
    margin-bottom:-4px;
    border: 1px solid var(--muted-foreground);
    border-radius: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: var(--muted);
    color: var(--accent-foreground);
}
.tabs button:hover{
    background-color: var(--muted-foreground);
    color: var(--background);
    transition: ease-out 350ms;
}
.tabs button.active{
    background-color: var(--muted-foreground);
    color: var(--background);
}

.tooltipContainer {
  position: relative;
  /* display: inline-block; */
}
.tooltiptext {
  visibility: hidden;
  position: fixed;
  position: absolute;
  top: 0vh;
  left: 4rem;
  /* top: 0%; */
  /* left: 100%; */
  background-color: hsla(240, 21%, 15%, 0.8);
  border: 1px solid #444;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  overflow: visible;
  /* animation: fadeIn 0.5s ease-in-out !important; */
  /* display: none; */
  flex-direction: column;
}
/* .sideMenu.collapsed ul li:hover .tooltiptext{
  display: flex !important;
  float: right;
  opacity: 1 !important;
} */
.tooltipContainer:hover .tooltiptext {
  visibility: visible !important;
  opacity: 1 !important;
  /* transition: opacity 0.3s ease-out, transform 0.3s ease-out !important; */
  overflow: visible !important;
  /* animation: fadeIn 0.5s ease-in-out !important; */
  z-index: auto !important;
}